
/.vs
/.vs
.vs/ProjectEvaluation/weatherrest.metadata.v7.bin
.vs/ProjectEvaluation/weatherrest.projects.v7.bin
.vs/WeatherRest/DesignTimeBuild/.dtbcache.v2
.vs/WeatherRest/FileContentIndex/33f1d32f-b8af-4aa8-a9bd-15b9c852f662.vsidx
.vs/WeatherRest/FileContentIndex/406c7d61-63af-469f-aab8-5f57b06b6e49.vsidx
.vs/WeatherRest/FileContentIndex/44cf20e6-af88-4fc1-b8a0-4f104dc86885.vsidx
.vs/WeatherRest/FileContentIndex/5a145e01-6f0c-42fb-a093-f511b479e8f8.vsidx
.vs/WeatherRest/FileContentIndex/f545322e-c8e4-45f6-9675-f0ee908365e7.vsidx
.vs/WeatherRest/v17/.futdcache.v2
.vs/WeatherRest/v17/.suo
.vs/WeatherRest/v17/DocumentLayout.json
bin/Debug/net8.0/WeatherRest.dll
bin/Debug/net8.0/WeatherRest.exe
bin/Debug/net8.0/WeatherRest.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/WeatherRest.dll
obj/Debug/net8.0/refint/WeatherRest.dll
obj/Debug/net8.0/WeatherRest.AssemblyInfo.cs
obj/Debug/net8.0/WeatherRest.AssemblyInfoInputs.cache
obj/Debug/net8.0/WeatherRest.csproj.FileListAbsolute.txt
obj/Debug/net8.0/WeatherRest.dll
obj/Debug/net8.0/WeatherRest.pdb
obj/Debug/net8.0/WeatherRest.sourcelink.json
/.vs/ProjectEvaluation/weatherrest.metadata.v7.bin
/obj/Debug/net8.0/apphost.exe
